In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import numpy as np
from collections import namedtuple

In [2]:
data_url = "https://github.com/QuantEcon/lecture-python-intro/raw/main/lectures/datasets/mpd2020.xlsx"
data = pd.read_excel(data_url, 
                     sheet_name='Full data')
data.head()

  countrycode      country  year   gdppc     pop
0         AFG  Afghanistan  1820     NaN  3280.0
1         AFG  Afghanistan  1870     NaN  4207.0
2         AFG  Afghanistan  1913     NaN  5730.0
3         AFG  Afghanistan  1950  1156.0  8150.0
4         AFG  Afghanistan  1951  1170.0  8284.0

In [4]:
countries = data.country.unique()
len(countries)

169

In [5]:
country_years = []
for country in countries:
    cy_data = data[data.country == country]['year']
    ymin, ymax = cy_data.min(), cy_data.max()
    country_years.append((country, ymin, ymax))
country_years = pd.DataFrame(country_years,
                    columns=['country', 'min_year', 'max_year']).set_index('country')
country_years.head()

                      min_year  max_year
country
Afghanistan               1820      2018
Angola                    1950      2018
Albania                      1      2018
United Arab Emirates      1950      2018
Argentina                 1800      2018

In [6]:
code_to_name = data[
    ['countrycode', 'country']].drop_duplicates().reset_index(drop=True).set_index(['countrycode'])